<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.dsz.activity"
android:versionCode="1"
android:versionName="1.0" >

<uses-sdk
    android:minSdkVersion="11"
    android:targetSdkVersion="17" />

<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

<application
    android:name="com.dsz.app.MyApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:theme="@android:style/Theme.Light.NoTitleBar" >
    <activity
        android:name="com.dsz.activity.SplashActivity"
        android:label="@string/app_name" >

    </activity>
    <activity android:name="com.dsz.activity.WelcomeActivity" >
    </activity>
    <activity android:name="com.dsz.activity.LoginActivity" >
    </activity>
    <activity android:name="com.dsz.activity.MainActivity"
        >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name="com.dsz.activity.PasswordActivity" >
    </activity>
    <activity android:name="com.dsz.activity.RegisterActivity" >
    </activity>
    <activity android:name="com.dsz.activity.SetPasswordActivity" >
    </activity>
    <activity android:name="com.dsz.activity.ModelActivity" >
    </activity>


    <activity android:name="com.dsz.activity.MonitorAcitivty" >

    </activity>


    <activity android:name="com.dsz.activity.FullScreenActivity"
        android:screenOrientation="landscape"
        >

    </activity>


    <activity android:name="com.dsz.activity.AddModelActivity"
        >
    </activity>
</application>

</manifest>